* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  margin: 0;
}

.hero-image{
  /* background-image: url("https://i.imgur.com/vjqpube.jpg"); */
  background-image: url("../static/ezgif-4-65334f6bdf.jpg");
  background-position: bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.grid-wrapper {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  padding: 1.5rem;
  background: rgb(61, 138, 254);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;

}

.gamecontrols{
  background: rgb(61, 138, 254);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  width: 700px;
}


@media (min-width: 350px) {
  .grid {
    height: 350px;
    width: 408.3333333px;
  }
}
@media (min-width: 730px) {
  .grid {
    height: 600px;
    width: 700px;
  }
}


.grid div {
  /* margin: 2px; */
  border: 2px solid grey;
  flex-grow: 1;
  background: white;
  height: 16.666665%;
  width: 14.285713%;
  border-radius: 50%;
}

.grid .red {
  background-color: red;
}

.grid .yellow {
  background-color: yellow;
}

.player1tally {
  background-color: darkgrey;
  color: red;
}
.player2tally {
  color: yellow;
  background-color: darkgrey;
}

.resetbutton {
  display: flex;
  align-content: center;
}

/* .grid div.pika {
  background-image: url('../assets/pika-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
} */